services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Repositories
    Masilia\ConsentBundle\Repository\:
        resource: '../../Repository/*'
        tags: ['doctrine.repository_service']

    Masilia\ConsentBundle\Service\:
        resource: '../../Service/*'

    # Controllers
    Masilia\ConsentBundle\Controller\:
        resource: '../../Controller/*'
        tags: ['controller.service_arguments']

    # Commands
    Masilia\ConsentBundle\Command\:
        resource: '../../Command/*'
        tags: ['console.command']

    # Twig Extensions
    Masilia\ConsentBundle\Twig\:
        resource: '../../Twig/*'
        tags: ['twig.extension']

    # Event Subscribers
    Masilia\ConsentBundle\EventSubscriber\ConsentEventSubscriber:
        arguments:
            $loggingEnabled: '%masilia_consent.logging.enabled%'
        tags: ['kernel.event_subscriber']

    Masilia\ConsentBundle\EventSubscriber\MenuSubscriber:
        tags: ['kernel.event_subscriber']

    Masilia\ConsentBundle\EventSubscriber\ThirdPartyServiceSubscriber:
        tags: ['doctrine.event_subscriber']

    # Form Types
    Masilia\ConsentBundle\Form\Type\:
        resource: '../../Form/Type/*'
        tags: ['form.type']
