services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Repositories
    Masilia\ConsentBundle\Repository\:
        resource: '../../Repository/*'
        tags: ['doctrine.repository_service']

    Masilia\ConsentBundle\Service\:
        resource: '../../Service/*'

    # Controllers
    Masilia\ConsentBundle\Controller\:
        resource: '../../Controller/*'
        tags: ['controller.service_arguments']

    # Commands
    Masilia\ConsentBundle\Command\:
        resource: '../../Command/*'
        tags: ['console.command']

    # Twig Extensions
    Masilia\ConsentBundle\Twig\:
        resource: '../../Twig/*'
        tags: ['twig.extension']

    # Event Subscribers
    Masilia\ConsentBundle\EventSubscriber\ConsentEventSubscriber:
        arguments:
            $loggingEnabled: '%masilia_consent.logging.enabled%'
        tags: ['kernel.event_subscriber']

    Masilia\ConsentBundle\EventSubscriber\MenuSubscriber:
        tags: ['kernel.event_subscriber']

    Masilia\ConsentBundle\EventSubscriber\ThirdPartyServiceSubscriber:
        tags: ['doctrine.event_subscriber']

    # Form Types
    Masilia\ConsentBundle\Form\Type\:
        resource: '../../Form/Type/*'
        tags: ['form.type']

    # Menu Builders
    Masilia\ConsentBundle\Menu\PolicyMenuBuilder:
        tags:
            - { name: knp_menu.menu_builder, method: createPolicySidebarMenu, alias: masilia_consent.menu.policy_sidebar }
    
    Masilia\ConsentBundle\Menu\CategoryMenuBuilder:
        tags:
            - { name: knp_menu.menu_builder, method: createCategorySidebarMenu, alias: masilia_consent.menu.category_sidebar }
    
    Masilia\ConsentBundle\Menu\ServiceMenuBuilder:
        tags:
            - { name: knp_menu.menu_builder, method: createServiceSidebarMenu, alias: masilia_consent.menu.service_sidebar }
    
    Masilia\ConsentBundle\Menu\CookieMenuBuilder:
        tags:
            - { name: knp_menu.menu_builder, method: createCookieSidebarMenu, alias: masilia_consent.menu.cookie_sidebar }
